.header-container {
    width: 100vw;color: white;
    background-color: black;
    text-align: center;font-size: 1.5em;padding: 10px;
}

.text-filed {
    padding: 10px 250px;width: 100%;
}


.form-button {
    display: flex;align-items: center;justify-content: space-between;
    margin-top: 10px;
}
.toggel-button {
    width: 200px;
}